body{
background: -webkit-linear-gradient(left, #cc3c3c, #5f57a4);
background: -moz-linear-gradient(left, #cc3c3c, #5f57a4);
background: -ms-linear-gradient(left, #cc3c3c, #5f57a4);
background: -o-linear-gradient(left, #cc3c3c, #5f57a4);
background: linear-gradient(to right, #cc3c3c, #5f57a4);
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 80%, 42%);
  
}
